/**
 *
 */
@import "../../../../libraries/fontawesome/css/font-awesome.min.css";

/* Adjust font in CKEditor WYSIWYG edit mode. */
* {
  /* font-size/line-height */
  font: 14px/1.5 'PingFang SC','microsoft yahei',system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:lang(zh-cn),*:lang(zh-CN),*:lang(zh-Hans) {
  font-family: 'PingFang SC','microsoft yahei','hiragino sans gb',serif;
}

*:lang(en) {

}

*:lang(zh-cn).fa, *:lang(zh-CN).fa, *:lang(zh-Hans).fa {
  font: normal normal normal 14px/1 FontAwesome;
}

code, code span, code:lang(zh-Hans), code span:lang(zh-Hans) {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono",monospace,Inconsolata,Courier,'Courier New';
  font-size: 1em;
}

/** Adjust edit mode style to match bootstrap style. */
/* Adopt font-size of root element. */
html {
  font-size: 10px;
}

p {
  margin: 1rem 0;
  line-height: 2em;
  text-align: justify;
}

kbd {
  display: inline-block;
  margin: 0 .1rem;
  padding: .1rem .6rem;
  font-size: 1.2rem;
  color: #242729;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
  white-space: nowrap;
  vertical-align: text-top;
}

/* Adopt bootstrap link style. */
.cke_editable_themed a {
  color: #337ab7;
  text-decoration: none;
}

/* Adopt bootstrap code style. */
.cke_panel_listItem code, .cke_editable_themed code { /* Add style for code in edit mode. */
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
/***/

/* Adjust font style in both edit and view mode. */

/** Styles of code area. */
.cke_editable_themed .cke_widget_codeSnippet pre, .node-type-moha-clip .field-name-body pre {
  padding: 0;
  border: none;
}

.node-type-moha-clip .field-name-body pre {
  background-color: #292b2c;
}

.cke_editable_themed .cke_widget_codeSnippet pre code, .node-type-moha-clip .field-name-body pre code {
  white-space: pre;
  border-left: 4px solid #2c8ebb;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #292b2c;
  -webkit-font-smoothing: antialiased;
}

code.hljs {
  color: #80DA80;
}
/***/

/** Styles of list items. */
.cke_editable_themed ul, .node-type-moha-clip .field-name-body ul {
  padding-left: 2rem;
  list-style-type: square;
}
/***/

/** Image */
.cke_editable_themed img:not(.cke_reset), .field-name-body img {
  box-shadow: 0 0 8px 2px #bbb;
  border-radius: 5px;
  display: block;
  max-width: 98%;
  margin: auto;
}
/***/

/** Paragraph & article title. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.cke_editable_themed h1, .node-type-moha-clip h1 {
  font-size: 1.8em;
  text-align: center;
}

@media(min-width: 768px) {
  .cke_editable_themed h1, .node-type-moha-clip h1 {
    font-size: 2.4em;
  }
}

.cke_editable_themed h2, .node-type-moha-clip h2{
  font-size: 24px;
  margin: 2em auto 1rem;
  border-bottom: 1px dotted silver;
  padding-bottom: 1rem;
}

.cke_editable_themed h3, .node-type-moha-clip h3{
  font-size: 18px;
  margin: 2em auto 1em;
}

/* First h3 after h2. */
.cke_editable_themed h2 + h3, .node-type-moha-clip h2 + h3,
.cke_editable_themed h2 + :not(h3) + h3, .node-type-moha-clip h2 + :not(h3) + h3,
.cke_editable_themed h2 + :not(h3) + :not(h3) + h3, .node-type-moha-clip h2 + :not(h3) + :not(h3) + h3,
.cke_editable_themed h2 + :not(h3) + :not(h3) + :not(h3) + h3, .node-type-moha-clip h2 + :not(h3) + :not(h3) + :not(h3) + h3 ,
.cke_editable_themed h2 + :not(h3) + :not(h3) + :not(h3) + :not(h3) + h3, .node-type-moha-clip h2 + :not(h3) + :not(h3) + :not(h3) + :not(h3) + h3 {
  margin-top: 1em;
}

.cke_panel_listItem h3 {

}


.cke_panel_listItem h4, .cke_editable_themed.cke_show_blocks h4, .node-type-moha-clip div.main-container h4{
  font-size: 1em;
  line-height: normal;
  background: #e7f2fa;
  color: #337ab7;
  border-left: solid 3px #337ab7;
  padding: 6px 8px 6px 8px;
}
/***/

/** Common layout styles for spotlight  */
div.moha-spotlight {
  margin: 1rem 0;
  position: relative;
  vertical-align: middle;
  border-radius: 4px;
}

/* Remove div.moha-spotlight padding in edit mode */
.cke_editable_themed.cke_show_blocks div.moha-spotlight:not([contenteditable=false]):not(.cke_show_blocks_off) {
  padding-top: 0;
  padding-left: 0;
}

.cke_editable_themed  div.moha-spotlight div.moha-spotlight-icon,
.cke_editable_themed  div.moha-spotlight div.moha-spotlight-icon:not([contenteditable=false]):not(.cke_show_blocks_off),
div.moha-spotlight div.moha-spotlight-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 5rem;
  min-height: 5rem;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 4px 0 0 4px;
}

/* Adjust icon position to middle center. */
div.moha-spotlight div.moha-spotlight-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hides icon placeholder. */
div.moha-spotlight div.moha-spotlight-icon span {
  display: none;
}

div.moha-spotlight-details {
  display: inline-block;
  padding: 1.5rem 1rem;
  margin-left: 5rem;
}

/*  */
div.moha-spotlight-details p:last-child {
  margin-bottom: 0;
}

div.moha-spotlight-details p:first-child {
  margin-top: 0;
}
/***/

/** Add color for primary spotlight. */
div.moha-spotlight.primary-area {
  background-color: #cce5ff;
  color: #004085;
}

div.moha-spotlight.primary-area div.moha-spotlight-icon {
  background-color: #004085;
  color: #b8daff;
}

div.moha-spotlight.primary-area div.moha-spotlight-icon:before {
  content: "\f02d"; /* Awosome font: book.*/
}
/***/

/** Add color for info spotlight. */
div.moha-spotlight.info-area {
  background-color: #dff0d8;
  color: #3c763d;
}

div.moha-spotlight.info-area div.moha-spotlight-icon {
  background-color: #3c763d;
  color: white;
}

div.moha-spotlight.info-area div.moha-spotlight-icon:before {
  content: "\f129"; /* Awosome font: info.*/
}
/***/

/** Add styles for references. */
div.moha-spotlight.reference-area {
  background-color: lightgrey;
  color: black;
}

div.moha-spotlight.reference-area div.moha-spotlight-icon {
  background-color: grey;
  color: black;
}

div.moha-spotlight.reference-area div.moha-spotlight-icon:before {
  content: "\f08e"; /* Awosome font: external-link.*/
}

.cke_editable_themed div.moha-spotlight-details.reference-details a,
div.moha-spotlight-details.reference-details a {
  color: #505050;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.cke_editable_themed div.moha-spotlight-details.reference-details a:hover,
div.moha-spotlight-details.reference-details a:hover {
  color: black;
  border-bottom: 1px dotted #333;
}
/***/

/** Add color for warning spotlight. */
div.moha-spotlight.warning-area {
  background-color: #fff3cd;
  color: #856404;
}

div.moha-spotlight.warning-area div.moha-spotlight-icon {
  background-color: #856404;
  color: #ffeeba;
}

div.moha-spotlight.warning-area div.moha-spotlight-icon:before {
  content: "\f12a"; /* Awosome font: exclamation.*/
}
/***/

/** Add color for danger spotlight. */
div.moha-spotlight.danger-area {
  background-color: #f8d7da;
  color: #721c24;
}

div.moha-spotlight.danger-area div.moha-spotlight-icon {
  background-color: #721c24;
  color: #f5c6cb;
}

div.moha-spotlight.danger-area div.moha-spotlight-icon:before {
  content: "\f00d"; /* Awosome font: times.*/
}
/***/

/* Table Style **/
.cke_editable_themed table {
  width: 100%;
}
.cke_editable_themed table th, .node-type-moha-clip table th {
  text-align: left;
  font-weight: bold;
}
/***/

/** Moha Widget style. */
.cke_show_blocks.cke_contents_ltr div.moha-clip-widget:not([contenteditable=false]):not(.cke_show_blocks_off) {
  padding-left: 0;
  padding-top: 0;
}


/***/