* {
  font: 10px/1.5 'PingFang SC','microsoft yahei',system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  width: 500px;
  height: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  background-color: rgba(0,255,0,0.35);
}

.flex-item {
  background-color: rgba(0,0,0,0.35);
  flex-basis: 100px;
}